body {
    display: flex;
    flex-direction: column;
    
   
}

main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

header, footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

h1 {
    color: white;
}

nav {
    display: flex;
   
}


.portfolioLink{
    color: #FFE01D;
}